@charset "utf-8";
.chatBG{font-size:10px;font-family:宋体;width:300px;height:500px;position:absolute;left:319px;top:60px;background-color:#ffffff;overflow:auto}

.chatA{position:relative;left:10px;width:220px;margin-top:10px;border:0px solid black}
.chatA .smsA{border-radius:5px; padding:10px;word-break:break-word;word-wrap:break-word;background:url(../images/chatAbg.png)  repeat-x;}
.chatA .tripA{margin-bottom:-25px;margin-left:-5px;}
.chatA .blankA{height:10px;}

.chatB{position:relative;left:50px;width:230px;margin-top:10px;border:0px solid black}
.chatB .smsB{border-radius:5px;padding:10px; word-break:break-all;word-wrap:break-word;background:url(../images/chatBbg.png)  repeat-x;}
.chatB .tripB{margin-bottom:-25px;padding-left:230px;}
.chatB .blankB{height:10px;}

.smsBG{font-size:14px;font-family:宋体;width:300px;height:500px;background-color:#ffffff;overflow:auto}
.smsRow{padding-top:5px;height:40px;border-radius:1px;color:black;background-color:#ffffff;border-bottom:1px solid #808080}
.smsNo{margin-left:12px;height:20px}
.smsTime{float:right;margin-right:10px}
.smsMsg{padding-top:8px;margin-left:12px;font-size:10px;color:#505050}
/*
BG{font-size:10px;font-family:Arial;min-width:5%;max-width:80%;width:50em; margin-left:auto;margin-right:auto;margin-top:50px;height:500px; overflow:auto}
*/

.tabBG{font-size:10px;font-family:Arial;width:680px;margin-left:auto;margin-right:auto;margin-top:10px}
.tabRow{border:1px solid transparent;height:20px;width:680px;text-align:center;line-height:20px}
.tabColume{border:1px solid black;float:left;height:100%}

/*padding-left:5px;  width:00px;text-align:left
.tabFSize{border:1px solid black;float:left;height:100%;width:100px}
.tabFTime{border:1px solid black;float:left;height:100%;width:100px}
.tabFBits{border:1px solid black;float:left;height:100%;width:100px}
.tabFSaR{border:1px solid black;float:left;height:100%;width:100px}
.tabFChan{border:1px solid black;float:left;height:100%;width:100px}
.tabFBtn{border:1px solid black;float:left;height:100%;width:50px}
*/
